<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence="/cfide/administrator" />
                    <add sequence="/cfide/adminapi" />
                    <add sequence="/cfide/air" />
                    <add sequence="/cfide/appdeployment" />
                    <add sequence="/cfide/classes" />
                    <add sequence="/cfide/componentutils" />
                    <add sequence="/cfide/debug" />
                    <add sequence="/cfide/images" />
                    <add sequence="/cfide/orm" />
                    <add sequence="/cfide/portlets" />
                    <add sequence="/cfide/probe.cfm" />
                    <add sequence="/cfide/scheduler" />
                    <add sequence="/cfide/scripts" />
                    <add sequence="/cfide/servermanager" />
                    <add sequence="/cfide/websocket" />
                    <add sequence="/cfide/wizards" />
                    <add sequence="/cfide/graphdata" />
                    <add sequence="/cfide/main" />
                    <add sequence="application.cf" />
                    <add sequence="/cfide/services" />
                    <add sequence="web-inf" />
                </denyUrlSequences>
                <alwaysAllowedUrls>
                </alwaysAllowedUrls>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
